body{
    background-color: black;
}


img{
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    border-color: red;
}

#user{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#bio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}